pandas
numpy
opencv-python
opencv-python-headless
opencv-contrib-python
plotly
matplotlib
seaborn
Pillow
torch
torchvision
torchaudio
azure-storage-blob
jupyterlab-lsp
python-lsp-server
scikit-learn
python-lsp-server
scikit-learn